.starrr {
  margin:auto;
	width:100%;
  	display: inline-block;
  	text-align: center;
}

.starrr a {
    font-size:3em;
    color : #1dccb8;
    padding: 0;
    cursor: pointer;
    text-decoration: none; 
}

.fa-star-o,.fa-star{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
